<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new Event</title>
    <link rel="stylesheet" th:href="@{/add_event.css}"/>
</head>
<body>
<div class="container">
  <div class="title">Créer un événement</div>
  <form th:action="@{${#httpServletRequest.requestURI}+'/save'}" th:object="${event}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${event.id}" />
    <div class="event-details">
      <div class="input-box">
        <label class="col-form-label col-sm-4">Date d'événement  </label>
          <input type="text" th:field="*{date}" class="form-control" required/>
      </div>
      <div class="input-box">
        <label class="col-form-label col-sm-4">Valeur de l'événement </label>
          <input type="text" th:field="*{valeur}" class="form-control" required/>
      </div>
      <div class="input-box">
        <label class="col-form-label col-sm-4">Commentaire  </label>
          <input type="text" th:field="*{commentaire}" class="form-control" required/>
      </div>
      <div class="input-box">
       <label class="col-form-label col-sm-4">Ajouter tag </label>
        <select  name="tag" class="drop-down-item">
          <option th:each="tags : ${ListTags}" 
          th:value = "${tags.id}" 
          th:text = "${tags.name}"> </option>
        </select>
       <label class="col-form-label col-sm-4">Tag non trouvé ?</label>
       <input type="text" th:field="*{tag_string}" />
      </div>

        <div class="button">
          <button type="submit">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>