<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Succesfull</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/register_success.css}"/>
</head>
<body>
<div class="container">
<div class="title"><h1>Inscription avec succès ! </h1></div>
    
<div classe="user-action">
<a th:href="@{/login}">Me connecter</a> 
</div>
</div>
</body>
</html>