 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
 background: #1f4037; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1f4037, #99f2c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1f4037, #99f2c8);
}
.container{
     width: 550px;
    height: 420px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.8);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
margin-bottom: 25px;
}

.content form .list-details{
}
form .list-details .input-box{
  width: 70%;
  margin-left: 60px;
  margin-bottom: 10px;
}
form .list-details .input-box label{
  display: block;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top : 25px;
}
form .list-details .input-box label.details{
     display: block;
    font-weight: 500;
    margin-bottom: 15px;
}
.list-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.list-details .input-box input:focus,
.list-details .input-box input:valid{
  border-color: #ab8b98;
}
form .button{
   height: 45px;
   margin-top : 18px;
 }
 form .button button{
   height: 100%;
   width: 40%;
   margin-top : 30px;
    margin-left: 140px;
    border-radius: 30px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button button:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(to right, #1f4037, #99f2c8);;
  }